/* Base */
*:where(:not(iframe, canvas, img, svg, video):not(svg *)) {
  all: unset;
  display: revert;
}
html {
  font-size: 62.5%;
}
body {
  box-sizing: border-box;
}
h1 {
  font-size: 1rem;
}
* {
  font-family: "Red Hat Text", sans-serif;
}
h1 {
  font-family: "Lato", sans-serif;
  font-size: 7.5rem;
  letter-spacing: 0.3rem;
}
h2 {
  font-family: "Lato", sans-serif;
  font-size: 2.5rem;
  letter-spacing: 0.2rem;
}
/* Utils */
/****************************
        Colors plate
*****************************/
/*------------------
       General
------------------*/
/*------------------
       Headers
------------------*/
/*------------------
       Fonts
------------------*/
/* Components */
/*********************
        Button
**********************/
button.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 8rem;
  height: 3rem;
  border: none;
  text-transform: uppercase;
  border-radius: 5px;
  padding: 1.2rem 3rem;
  cursor: pointer;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  font-size: 1.5rem;
  transition: transform 0.2s linear, background-color 0.1s linear, box-shadow 0.15s linear, fill 0.075s linear;
  /*-- Selected --*/
  /*-- Focus, Active  --*/
}
button.btn:hover {
  transform: translateY(-1px);
  box-shadow: 0 8px 6px 0 rgba(0, 0, 0, 0.2);
}
button.btn:active {
  transform: translateY(0px);
}
button.btn:focus,
button.btn:active {
  background: none;
  border: none;
  outline: none;
}
/*---------------------
         Types
----------------------*/
/* Primary */
button.btn.primary {
  color: hsl(0, 0%, 100%);
  background: hsl(191, 87%, 50%);
  letter-spacing: 0.3rem;
}
/* States */
/*-- Focus, Active  --*/
button.btn.primary:focus,
button.btn.primary:active {
  background: hsl(191, 87%, 50%);
}
/*-- Hover --*/
button.btn.primary:hover {
  background-color: hsl(191, 87%, 42%);
}
/*********************
    Social Networks
**********************/
.social-networks {
  display: flex;
  justify-content: space-around;
}
/*---------------------
          SVG
----------------------*/
.social-networks > svg {
  width: 42px;
  height: 42px;
  cursor: pointer;
  transition: transform 0.2s linear, background-color 0.1s linear, box-shadow 0.15s linear, fill 0.075s linear;
}
.social-networks > svg.instegram {
  width: 44px;
  height: 44px;
}
.social-networks > svg:hover {
  transform: translateY(-1px);
  box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.2);
}
.social-networks > svg:hover.facebook {
  fill: #1877f2;
}
.social-networks > svg:hover.instegram {
  fill: brown;
}
.social-networks > svg:hover.linkedin {
  fill: #007bb5;
}
/*********************
        Button
**********************/
h2.section-header {
  text-align: center;
  font-size: 3.8rem;
  color: hsl(191, 86%, 14%);
  letter-spacing: 3px;
}
/*---------------------
         Themes
----------------------*/
/* Light */
h2.section-header.light {
  color: hsl(0, 0%, 100%);
}
/*********************
     Service Card
**********************/
article.service-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25rem;
  padding: 10px;
}
/*---------------------
          SVG
----------------------*/
article.service-card > svg {
  width: 10rem;
  height: 10rem;
  margin-bottom: 2rem;
  fill: hsl(0, 0%, 100%);
}
/* Camel icon */
article.service-card > svg.camel {
  position: relative;
  top: 0.8rem;
  right: 1.5rem;
}
/*---------------------
        Header
----------------------*/
article.service-card > h3 {
  white-space: nowrap;
  margin-bottom: 1.5rem;
  font-size: 2.5rem;
  letter-spacing: 3px;
  color: hsl(0, 0%, 100%);
  text-transform: capitalize;
}
/*---------------------
          Text
----------------------*/
article.service-card > p {
  font-size: 1.5rem;
  text-align: center;
  color: hsl(0, 0%, 100%);
  line-height: 1.7;
}
/* Pages */
/***********************************
            Hero Section
/***********************************/
main.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  width: 100%;
}
/*---------------------
    Personal Details 
-----------------------*/
main.hero > .personal-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 45%;
  background: hsl(190, 100%, 88%);
}
/* Text */
main.hero > .personal-details > .text {
  position: relative;
  bottom: 5%;
  left: 10%;
  width: fit-content;
}
/*-- Mega Header --*/
main.hero > .personal-details > .text > h1 {
  margin-bottom: 0.5rem;
}
/*-- Secondary Header --*/
main.hero > .personal-details > .text > h2 {
  position: relative;
  left: 6px;
  margin-bottom: 3.5rem;
}
/* Contact Area */
main.hero > .personal-details > .contact-area {
  width: fit-content;
  position: relative;
  bottom: 5%;
  left: 10%;
}
/*-- Social Networks --*/
main.hero > .personal-details > .contact-area > .social-networks {
  position: relative;
  top: 2.6rem;
}
/*---------------------
       Itai Image
-----------------------*/
main.hero > .itai-profile {
  position: absolute;
  top: 49%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 36rem;
  width: 36rem;
  border-radius: 50%;
}
/*---------------------
    Background Image
-----------------------*/
main.hero > .bg-image {
  width: 55%;
  height: 100%;
  background-image: url("/assets/israel-background-color.jpeg");
  background-size: cover;
}
/***********************************
          Services Section
***********************************/
section.services {
  height: 100vh;
  width: 100%;
  background: hsl(191, 87%, 50%);
}
/*---------------------
    Section content
-----------------------*/
section.services > .section-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 4rem;
  height: calc(100% - 4rem);
}
/* Articles */
section.services > .section-content > .articles {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-row-gap: 6rem;
  justify-items: center;
  width: 90%;
  margin-top: 4.5rem;
}
/***********************************
          About Section
***********************************/
section.about {
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background: hsl(0, 0%, 96%);
}
/*---------------------
    Section content
-----------------------*/
section.about > .section-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}
/* Image */
section.about > .section-content > img {
  height: 85%;
}
/* Text */
section.about > .section-content > .about-text {
  width: 60%;
  height: 80%;
}
/*-- Header --*/
section.about > .section-content > .about-text > h2 {
  text-align: center;
  margin-top: 5rem;
}
/*-- Paragraph --*/
section.about > .section-content > .about-text > p {
  width: 80%;
  margin-top: 2.8rem;
  padding: 0 8rem;
  line-height: 1.7;
  font-size: 2rem;
  color: hsl(211, 47%, 29%);
}
