/* Base */
/* Utils */
/****************************
        Colors plate
*****************************/
/*------------------
       General
------------------*/
/*------------------
       Headers
------------------*/
/*------------------
       Fonts
------------------*/
/* Pages */
body {
  background: hsl(191, 87%, 50%);
}
h1 {
  color: hsl(191, 86%, 14%);
  font-size: 100px;
}
