/**************************
        Hero Section
/**************************/
.hero-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  width: 100%;
}
/*---------------------
    Personal Details 
-----------------------*/
.hero-section > .personal-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 45%;
  background: @light_blue;
}
/* Text */
.hero-section > .personal-details > .text {
  position: relative;
  bottom: 5%;
  left: 10%;
  width: fit-content;
}

/*-- Mega Header --*/
.hero-section > .personal-details > .text > h1 {
  margin-bottom: 0.5rem;
}

/*-- Secondary Header --*/
.hero-section > .personal-details > .text > h2 {
  position: relative;
  left: 6px;
  margin-bottom: 3.5rem;
}

/* Contact Area */
.hero-section > .personal-details > .contact-area {
  width: fit-content;
  position: relative;
  bottom: 5%;
  left: 10%;
}
/*-- Social Networks --*/
.hero-section > .personal-details > .contact-area > .social-networks {
  position: relative;
  top: 2.6rem;
}

/*---------------------
       Itai Image
-----------------------*/
.hero-section > .itai-profile {
  position: absolute;
  top: 49%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 36rem;
  width: 36rem;
  border-radius: 50%;
}
/*---------------------
    Background Image
-----------------------*/
.hero-section > .bg-image {
  width: 55%;
  height: 100%;
  background-image: url("/assets/israel-background-color.jpeg");
  background-size: cover;
}

/**************************
     Services Section
/**************************/
.services-section {
  height: 100vh;
  width: 100%;
  background: @primary;
}
