.scroll {
}
.scroll span {
  position: fixed;
  bottom: 5.5rem;
  left: 1.3rem;
  font-size: 1.4rem;
  writing-mode: vertical-lr;
  letter-spacing: 4px;
}

.scroll > svg {
  position: fixed;
  left: 0.78rem;
  bottom: 1.7rem;
  animation: arrowAnimation 1.1s ease-in-out infinite;
}

@keyframes arrowAnimation {
  0% {
    height: 2.4rem;
  }

  50% {
    height: 3.2rem;
  }

  100% {
    height: 2.4rem;
  }
}

/***********************************
            Hero Section
/***********************************/
main.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  width: 100%;
}
/*---------------------
    Personal Details 
-----------------------*/
main.hero > .personal-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 45%;
  background: @light_blue;
}
/* Text */
main.hero > .personal-details > .text {
  position: relative;
  bottom: 5%;
  left: 10%;
  width: fit-content;
}

/*-- Mega Header --*/
main.hero > .personal-details > .text > h1 {
  margin-bottom: 0.5rem;
}

/*-- Secondary Header --*/
main.hero > .personal-details > .text > h2 {
  position: relative;
  left: 6px;
  margin-bottom: 3.5rem;
}

/* Contact Area */
main.hero > .personal-details > .contact-area {
  width: fit-content;
  position: relative;
  bottom: 5%;
  left: 10%;
}
/*-- Social Networks --*/
main.hero > .personal-details > .contact-area > .social-networks {
  position: relative;
  top: 2.6rem;
}

/*---------------------
       Itai Image
-----------------------*/
main.hero > .itai-profile {
  position: absolute;
  top: 49%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 36rem;
  width: 36rem;
  border-radius: 50%;
}
/*---------------------
    Background Image
-----------------------*/
main.hero > .bg-image {
  width: 55%;
  height: 100%;
  background-image: url("/assets/israel-background-color.jpeg");
  background-size: cover;
}

/***********************************
          Services Section
***********************************/
section.services {
  height: 100vh;
  width: 100%;
  background: @primary;
}

/*---------------------
    Section content
-----------------------*/
section.services > .section-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: -4rem;
  height: calc(100% - 4rem);
}

/* Articles */
section.services > .section-content > .articles {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-row-gap: 4.5rem;
  justify-items: center;
  width: 90%;
  margin-top: 4rem;
}

/***********************************
          About Section
***********************************/
section.about {
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background: @grey;
}

/*---------------------
    Section content
-----------------------*/
section.about > .section-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}

/* Image */
section.about > .section-content > img {
  height: 85%;
}

/* Text */
section.about > .section-content > .about-text {
  width: 60%;
  height: 80%;
}

/*-- Header --*/
section.about > .section-content > .about-text > h2 {
  text-align: center;
  margin-top: 5rem;
}

/*-- Paragraph --*/
section.about > .section-content > .about-text > p {
  width: 80%;
  margin-top: 2.8rem;
  padding: 0 8rem;
  line-height: 1.7;
  font-size: 2rem;
  color: @font_primary_dark;
}
