/*********************
        Button
**********************/
h2.section-header {
  text-align: center;
  font-size: 3.8rem;
  color: @header_primary_dark;
  letter-spacing: 3px;
}

/*---------------------
         Themes
----------------------*/
/* Light */
h2.section-header.light {
  color: @header_primary_light;
}
